body {
    background-color: antiquewhite;
    height:100%;
    margin: 0px;
}

#home, #end {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h3 {
    color: black;
}

button {
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}

#main, #quiz {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
