body {
    background-color: antiquewhite;
    height:100%;
    margin: 0px;
}

#home, #end {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

main {
    margin-top: 50px;
    height: 100%;
    font-weight: bold;
    text-align: center;
}

button {
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f9f5f6;
}

